<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>

<h3 th:text="${office}">TITLE</h3>
<p th:text="${decibelAverage}"></p>
<p th:text="${temperatureAverage}"></p>
<p th:text="${luxAverage}"></p>
<p th:text="${gasAverage}"></p>
<p th:text="${humidityAverage}"></p>
<p th:text="${pressureAverage}"></p>

<h3 th:text="${CORRIDOR}">TITLE</h3>
<p th:text="${decibelAverageCORRIDOR}"></p>
<p th:text="${temperatureAverageCORRIDOR}"></p>
<p th:text="${luxAverageCORRIDOR}"></p>
<p th:text="${gasAverageCORRIDOR}"></p>
<p th:text="${humidityAverageCORRIDOR}"></p>
<p th:text="${pressureAverageCORRIDOR}"></p>

<h3 th:text="${CONFERENCE_ROOM}">TITLE</h3>
<p th:text="${decibelAverageCONFERENCE_ROOM}"></p>
<p th:text="${temperatureAverageCONFERENCE_ROOM}"></p>
<p th:text="${luxAverageCONFERENCE_ROOM}"></p>
<p th:text="${gasAverageCONFERENCE_ROOM}"></p>
<p th:text="${humidityAverageCONFERENCE_ROOM}"></p>
<p th:text="${pressureAverageCONFERENCE_ROOM}"></p>

<h3 th:text="${LOUNGE}">TITLE</h3>
<p th:text="${decibelAverageLOUNGE}"></p>
<p th:text="${temperatureAverageLOUNGE}"></p>
<p th:text="${luxAverageLOUNGE}"></p>
<p th:text="${gasAverageLOUNGE}"></p>
<p th:text="${humidityAverageLOUNGE}"></p>
<p th:text="${pressureAverageLOUNGE}"></p>

<h3 th:text="${KITCHEN}">TITLE</h3>
<p th:text="${decibelAverageKITCHEN}"></p>
<p th:text="${temperatureAverageKITCHEN}"></p>
<p th:text="${luxAverageKITCHEN}"></p>
<p th:text="${gasAverageKITCHEN}"></p>
<p th:text="${humidityAverageKITCHEN}"></p>
<p th:text="${pressureAverageKITCHEN}"></p>


</body>

</html>
